PORT= 3000
REDIS_HOST=<your Redis HOST>
REDIS_PORT=<your Redis PORT>
REDIS_PASSWORD=<your config PASSWORD>

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://username:password$ilent@mydb2.amazon.ap-south-1.rds.amazonaws.com:3306/db_name"

# This is for JWT Authorization

JWTSECRET="mysecret"
JWTREFRESH_SECRET="mysecret secret secret"
SALT_PASS="a0we221q3$@#dad#"