.env
node_modules
# Dependency directories
node_modules/
builds/
data/
jspm_packages/
audit.*
docker/*
src/*
errors.log.*
# TypeScript v1 declaration files
typings/
 

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm